/* Contact Section */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 3rem;
}

.contact-container .contact-box:first-child {
  align-self: center;
}

.contact-box h2 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.contact-box p {
  font-size: 1.6rem;
}

.contact-box .description {
  margin: 1.5rem 0 2.5rem;
}

.contact-box .contact-detail {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.contact-detail i {
  display: inline-flex;
  background: var(--secondary-color);
  color: var(--accent-color);
  font-size: 3rem;
  padding: 1.2rem;
  border-radius: .6rem;
  margin-right: 1.5rem;
}

.contact-detail .detail p:first-child {
  color: var(--accent-color);
}

.contact-box form {
  background: var(--secondary-color);
  padding: 2.5rem 3.5rem 3.5rem;
  border-radius: 1rem;
  text-align: center;
}

.contact-box .heading {
  font-size: 3.5rem;
}

.contact-box .field-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.contact-box .field-box input,
.contact-box .field-box textarea {
  padding: 1.5rem;
  background: var(--primary-color);
  border: .15rem solid var(--primary-color);
  border-radius: .6rem;
  font-size: 1.6rem;
  color: var(--font-color);
}

.contact-box .field-box textarea {
  grid-column: 1 / -1;
  height: 26rem;
  resize: none;
}

.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus {
  border-color: var(--accent-color);
    box-shadow: 0 0 .2rem var(--accent-color);
}

.contact-box .field-box input::placeholder,
.contact-box .field-box textarea::placeholder {
  color: #aaa;
}

.contact-box .field-box input:-webkit-autofill,
.contact-box .field-box textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--primary-color) inset !important;
  -webkit-text-fill-color: var(--font-color) !important;
  caret-color: var(--font-color);
  transition: background-color 9999s ease-in-out 0s;
}

.contact-box .btn {
  margin-top: 2rem;
  width: 100%;
  height: 5.3rem;
  border: .2rem solid var(--accent-color);
  border-radius: .8rem;
  box-shadow: 0 0 .2rem var(--accent-color);
  cursor: pointer;
  background: var(--accent-color);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.7rem;
  transition: all 0.3s ease;
}

.contact-box .btn:hover {
  background: transparent;
  color: var(--accent-color);
}

.contact-box input,
.contact-box textarea {
  background-color: var(--primary-color);
  color: var(--font-color);
  border: none;
  border-radius: 6px;
  padding: 12px;
  outline: none;
  transition: all 0.3s ease;
}


/* Notification */
.toast {
    visibility: hidden;
    min-width: 280px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: left;
    border-radius: 8px;
    padding: 14px 20px;
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 15px;
    z-index: 9999;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.toast.success {
    background-color: #28a745; /* green */
}

  .toast.error {
    background-color: #dc3545; /* red */
}

  .toast.info {
    background-color: #007bff; /* blue */
}




/* ============================= */
/* CONTACT BREAKPOINTS */
/* ============================= */

@media screen and (max-width: 810px) {
    .contact-box .field-box {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {

    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-box .field-box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {

    .contact-box .field-box {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {

    .contact-box form {
        padding: 2.5rem 3rem 3.5rem;
    }

    .contact-box h2 {
        font-size: 3.5rem;
    }
}