/* Projects Section */
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.project-details {
    display: none;
}

.project-details.active {
    display: block;
}  

.project-box .numb {
    font-size: 8rem;
    -webkit-text-stroke: .07rem var(--font-color);
    color: transparent;
    line-height: 1;
}

.project-box h3 {
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
}

.project-box p {
    font-size: 1.6rem;
}

.project-box .tech {
    margin: 2rem 0;
    color: var(--accent-color);
    border-bottom: .1rem solid var(--font-color);
    padding-bottom: 2rem;
}

.project-box .live-github a {
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: var(--font-color);
    border-radius: 50%;
    background: var(--secondary-color);
    transition: .5s;
}

.project-box .live-github a:hover {
    color: var(--accent-color);
}

.project-box .live-github a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%) scale(.9);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: var(--font-color);
    color: var(--primary-color);
    opacity: 0;
    transition: .2s;
}

.project-box .live-github a:hover span {
    top: -70%;
    opacity: 1;
    transform: translateX(-50%) scale(1);
}

.project-box .portfolio-carousel {
    width: 100%;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
}

.portfolio-carousel .img-slide {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s;
}

.portfolio-carousel .img-item {
    height: inherit;
}

.portfolio-carousel .img-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.project-box .navigation {
    text-align: right;
    margin-top: 2rem;
}

.project-box .navigation button {
    display: inline-flex;
    padding: .4rem;
    background: var(--secondary-color);
    border: .2rem solid var(--accent-color);
    border-radius: .6rem;
    font-size: 4rem;
    color: var(--accent-color);
    cursor: pointer;
}

.project-box .navigation button.disabled {
    border-color: var(--secondary-color);
    color: var(--disabled-color);
}

.project-box .navigation .arrow-right {
    margin-left: 1.5rem;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 4rem;
}

.heading span {
    color: var(--accent-color);
}




/* ============================= */
/* PROJECT BREAKPOINTS */
/* ============================= */

@media screen and (max-width: 768px) {

    .project-container {
        grid-template-columns: 1fr;
    }

    .project-container .project-box:first-child {
        order: 1;
    }
}