@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

/* Root Variables */
:root {
    --primary-color: #1f242d;
    --secondary-color: #323946;
    --accent-color: #70f32a;
    --font-color: #ffffff;
    --disabled-color: #fff3;
}

html {
    font-size: 62.5%;
}

body {
    background-color: white;
}

/* Navigation Bar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    color: var(--accent-color);
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav a {
    color: var(--font-color);
    font-size: 2rem;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: color 0.5s;
}

nav a:hover,
nav a.active {
    color: var(--accent-color);
}

#menu-icon{
    font-size: 4rem;
    display: none;
}

/* Sections */
section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    background-color: var(--primary-color);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

section.active {
    visibility: visible;
    opacity: 1;
    overflow: auto;
}

/* Home */
.home {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.home-detail h1 {
    font-size: clamp(3.5rem, 10vw, 5.5rem);
}

.home-detail h2 {
    display: inline-block;
    font-size: 3.2rem;
    margin: -1rem;
}

.home-detail h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .07rem var(--accent-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
    25%,100% {
      display: none;
    }
}

.home-detail h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--accent-color);
    color: var(--accent-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}   

@keyframes fill-text {
    10%,100% {
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}

.home-detail p {
    font-size: 1.6rem;
    margin: 1rem 0 2.5rem;
}

.home-detail .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--accent-color);
    border: .2rem solid var(--accent-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--accent-color);
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: var(--accent-color);
    box-shadow: none;
}

/* Social Icons */
.home-detail .btn-sci .sci {
    margin-left: 2rem;
}

.home-detail .btn-sci .sci a {
    display: inline-flex;
    padding: .8rem;
    border: .2rem solid var(--accent-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--accent-color);
    margin: 0 .8rem;
    transition: .5s;
}

.home-detail .btn-sci .sci a:hover {
    color: var(--primary-color);
    background: var(--accent-color);
    box-shadow: 0 0 1rem var(--accent-color);
}

/* Home Image */
.home-image .img-box {
    position: relative;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}  

.home-image .img-box::before,
.home-image .img-box::after {
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent, transparent, transparent, var(--accent-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-image .img-box::after {
    animation-delay: -5s;
}

@keyframes rotate-border {
    100% {
        transform: rotate(360deg);
    }
}

.home-image .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    border-radius: 50%;
    border: .01rem solid var(--primary-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-image .img-box .img-item img {
    position: absolute;
    top: 3rem;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}


/* Services Section */
.heading {
    font-size: 4.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.heading span {
    color: var(--accent-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.services-container .services-box {
    background: var(--secondary-color);
    border: .2rem solid var(--secondary-color);
    border-radius: 1rem;
    padding: 3rem 2.5rem;
    transition: .5s;
}

.services-container .services-box:hover {
    border-color: var(--accent-color);
    transform: scale(1.02);
}

.services-box .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-box .icon i {
    font-size: 4.5rem;
    transition: .5s;
}

.services-box:hover .icon :not(a i) {
    color: var(--accent-color);
}

.services-box .icon a{
    display: inline-flex;
    background: var(--font-color);
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}

.services-box:hover .icon a {
    background: var(--accent-color);
}

.services-box .icon a i {
    font-size: 3rem;
    color: var(--primary-color);
    transform: rotate(225deg);
}

.services-box .icon a:hover i {
    transform: rotate(180deg);
}

.services-box h3 {
    font-size: 3rem;
    margin: .5rem 0 2rem;
    transition: .5s;
}

.services-box:hover h3 {
    color: var(--accent-color);
}

.services-box p {
    font-size: 1.6rem;
    color: var(--font-color);
    line-height: 1.6;
}

/* Resume Section */
.resume-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.resume-box h2 {
    font-size: 4.5rem;
}

.resume-box p {
    font-size: 1.6rem;
}

.resume-box .desc {
    margin: 2rem 0 2.5rem;
}

.resume-box .resume-btn {
    width: 100%;
    height: 5.3rem;
    background: var(--secondary-color);
    border: .2rem solid var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
}

.resume-box .resume-btn.active {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.resume-detail {
    display: none;
}

.resume-detail.active {
    display: block;
}
 
.resume-box .heading {
    font-size: 3.5rem;
    text-align: left;
}

.resume-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
}

.resume-list::-webkit-scrollbar {
    width: .7rem;
}

.resume-list::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 1rem;
}

.resume-list:hover::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

.resume-list .resume-item{
    background: var(--secondary-color);
    border-radius: .8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem - 2rem)/ 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-item .year {
    color: var(--accent-color);
}

.resume-item h3 {
    font-size: 2.2rem;
}

.resume-item .company {
    position: relative;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.resume-item .company::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: .5rem;
    background: var(--primary-color);
    border-radius: 50%;
    margin-left: -2rem;
}

.resume-detail.Skills .resume-list {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    overflow: visible;
}

.resume-detail.Skills .resume-item {
    position: relative;
    height: auto;
    align-items: center;
}

.resume-detail.Skills .resume-item i {
    font-size: 8.5rem;
    transition: .5s;
}

.resume-detail.Skills .resume-item:hover i {
    color: var(--accent-color);
}

.resume-detail.Skills .resume-item span {
    position: absolute;
    top: 20%;
    background:  var(--font-color);
    color: var(--primary-color);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
    transition: .2s;
}

.resume-detail.Skills .resume-item:hover span {
    top: -25%;
    opacity: 1;
    transform: scale(1);
}

.resume-detail.About .resume-list {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.resume-detail.About .resume-item {
    height: auto;
    padding: 0 0 .5rem;
    background: transparent;
}

.resume-detail.About .resume-item p {
    color: var(--accent-color);
}

.resume-detail.About .resume-item p span {
    color: var(--font-color);
    margin-left: 1rem;
    font-size: 1.8rem;
}

/* Projects Section */
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.project-details {
    display: none;
}

.project-details.active {
    display: block;
}  

.project-box .numb {
    font-size: 8rem;
    -webkit-text-stroke: .07rem var(--font-color);
    color: transparent;
    line-height: 1;
}

.project-box h3 {
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
}

.project-box p {
    font-size: 1.6rem;
}

.project-box .tech {
    margin: 2rem 0;
    color: var(--accent-color);
    border-bottom: .1rem solid var(--font-color);
    padding-bottom: 2rem;
}

.project-box .live-github a {
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: var(--font-color);
    border-radius: 50%;
    background: var(--secondary-color);
    transition: .5s;
}

.project-box .live-github a:hover {
    color: var(--accent-color);
}

.project-box .live-github a span {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: var(--font-color);
    color: var(--primary-color);
    opacity: 0;
    scale: .9;
    transition: .2s;
}

.project-box .live-github a:hover span {
    top: -70%;
    opacity: 1;
    scale: 1;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    color: var(--accent-color);
}

/* Contact Section */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 3rem;
}

.contact-container .contact-box:first-child {
  align-self: center;
}

.contact-box h2 {
  font-size: 4.5rem;
  margin-bottom: 1rem;
}

.contact-box p {
  font-size: 1.6rem;
}

.contact-box .description {
  margin: 1.5rem 0 2.5rem;
}

.contact-box .contact-detail {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.contact-detail i {
  display: inline-flex;
  background: var(--secondary-color);
  color: var(--accent-color);
  font-size: 3rem;
  padding: 1.2rem;
  border-radius: .6rem;
  margin-right: 1.5rem;
}

.contact-detail .detail p:first-child {
  color: var(--accent-color);
}

.contact-box form {
  background: var(--secondary-color);
  padding: 2.5rem 3.5rem 3.5rem;
  border-radius: 1rem;
  text-align: center;
}

.contact-box .heading {
  font-size: 3.5rem;
}

.contact-box .field-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.contact-box .field-box input,
.contact-box .field-box textarea {
  padding: 1.5rem;
  background: var(--primary-color);
  border: .15rem solid var(--primary-color);
  border-radius: .6rem;
  font-size: 1.6rem;
  color: var(--font-color);
}

.contact-box .field-box textarea {
  grid-column: 1 / -1;
  height: 26rem;
  resize: none;
}

.contact-box .field-box input:focus,
.contact-box .field-box textarea:focus {
  border-color: var(--accent-color);
    box-shadow: 0 0 .2rem var(--accent-color);
}

.contact-box .field-box input::placeholder,
.contact-box .field-box textarea::placeholder {
  color: #aaa;
}

.contact-box .field-box input:-webkit-autofill,
.contact-box .field-box textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--primary-color) inset !important;
  -webkit-text-fill-color: var(--font-color) !important;
  caret-color: var(--font-color);
  transition: background-color 9999s ease-in-out 0s;
}

.contact-box .cv-btn {
  margin-top: 2rem;
  width: 100%;
  height: 5.3rem;
  border: .2rem solid var(--accent-color);
  border-radius: .8rem;
  box-shadow: 0 0 .2rem var(--accent-color);
  cursor: pointer;
  background: var(--accent-color);
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.7rem;
  transition: all 0.3s ease;
}

.contact-box .cv-btn:hover {
  background: transparent;
  color: var(--accent-color);
}

.contact-box input,
.contact-box textarea {
  background-color: var(--primary-color);
  color: var(--font-color);
  border: none;
  border-radius: 6px;
  padding: 12px;
  outline: none;
  transition: all 0.3s ease;
}

.contact-box input::placeholder,
.contact-box textarea::placeholder {
  color: #aaa;
}

.contact-box input:focus,
.contact-box textarea:focus {
  border: 1px solid var(--accent-color);
  box-shadow: 0 0 4px rgba(0, 255, 106, 0.4);
}

.contact-box input:-webkit-autofill,
.contact-box textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-color) inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
  transition: background-color 9999s ease-in-out 0s;
}

/* Notification */
.toast {
    visibility: hidden;
    min-width: 280px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: left;
    border-radius: 8px;
    padding: 14px 20px;
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 15px;
    z-index: 9999;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.toast.success {
    background-color: #28a745; /* green */
}

  .toast.error {
    background-color: #dc3545; /* red */
}

  .toast.info {
    background-color: #007bff; /* blue */
}